@import '~antd/dist/antd.css';

$color: #666;
$th-background-color: #42444e;
$th-color: #fff;
$td-even-color: #eaeaed;
$td-color: #c6c9cc;
$border-radius: 6px;
$a-background-color: #1890ff;
$a-color: #1890ff;
$a-hover-color: #40a9ff;
$a-active-color: #fff;

body {
  color: $color;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
/** 表格 */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  padding: 6px 15px;
  word-wrap: normal;
}
th {
  background: $th-background-color;
  color: $th-color;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: $border-radius;
}
tr:first-child th:last-child {
  border-top-right-radius: $border-radius;
}
td {
  border-right: 1px solid $td-color;
  border-bottom: 1px solid $td-color;
}
td:first-child {
  border-left: 1px solid $td-color;
}
tr:nth-child(even) td {
  background: $td-even-color;
}
tr:last-child td:first-child {
  border-bottom-left-radius: $border-radius;
}
tr:last-child td:last-child {
  border-bottom-right-radius: $border-radius;
}

/** 超链接 */
a {
  color: $a-color;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

a:focus {
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}

a:hover {
  color: $a-hover-color;
}

a.tag,
a:active {
  background-color: $a-background-color;
  color: $a-active-color;
  border-radius: 3px;
  padding: 3px;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
  pointer-events: none;
}
